<nav>
    Hellow, {{ request.user }}
<button><a href="{% url 'logout' %}">OUT</a> </button>
</nav>
<form action="" method="GET">
    {{ filter.form }}
    <input type="submit" name="Confirm">
</form>
    <table>
<tr>
    <td>Image</td>
    <td>Name</td>
    <td>Gender</td>
    <td>Model</td>
    <td>Size</td>
    <td>Manufactore</td>
    <td>Price</td>
    <td>Buy</td>

</tr>

{% for product in products %}
<tr>
    <td><img src = "{{ product.image.url }}" width="110px" height="100">  </td>
    <td>{{ product.name }}</td>
    <td>{{ product.genders }}</td>>
    <td>{{ product.product_model }}</td>
    <td>{{ product.size }}</td>
    <td>{{ product.manufacture }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.product_type }}</td>
    <td><a href ="{% url 'order-create' product.id %}">Buy</a></td>
</tr>
{% endfor %}

</table>