{% extends 'supershop/base.html' %}
{% block content %}
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.css">
    <Link href="style.css" rel="stylesheet" type="text/css"/>
</head>
<nav>


</nav>
<form action="" method="GET">
    {{ filter.form }}
    <input type="submit" name="Confirm">
</form>

 <table class="table table-dark table=dark">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Model</th>
      <th scope="col">Size</th>
      <th scope="col">Manufacture</th>
      <th scope="col">Price</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
  <tbody>
    <tr> >


{% for product in products %}
<tr>
    <td><img src = "{{ product.image.url }}" width="110px" height="100">  </td>
    <td>{{ product.name }}</td>
    <td>{{ product.genders }}</td>>
    <td>{{ product.product_model }}</td>
    <td>{{ product.size }}</td>
    <td>{{ product.manufacture }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.product_type }}</td>
    <td><a href ="{% url 'order-create' product.id %}">Buy</a></td>
</tr>
{% endfor %}

</table>
{% endblock %}