{% extends 'supershop/base.html' %}
{% block content %}

<table class="table table-dark table=dark">
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Adress</th>
      <th scope="col">Phone</th>

</tr>


{% for customer in customers %}
    <tr>
        <td><img src="{{customer.image.url}}" width="200px" height="200px" ></td>
        <td>{{ customer.full_name }}</td>
        <td>{{ customer.adress }}</td>
        <td>{{ customer.phone }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}